<%= form_with(model: genre, local: true) do |form| %>
  <% if genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(genre.errors.count, "error") %> prohibited this genre from being saved:</h2>

      <ul>
      <% genre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ジャンルカラー%>
    <%= form.text_field :color_g, id: :genre_color_g %>
  </div>

  <div class="field">
    <%= form.label :画像 %>
    <%= form.file_field :image_g, id: :genre_image_g %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
