<p id="notice"><%= notice %></p>

<p>
  <strong>Color g:</strong>
  <%= @genre.color_g %>
</p>

<p>
  <strong>Image g:</strong>
  <%= image_tag show_image_genre_path(@genre), :width => 50 %>
</p>

<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
