<p id="notice"><%= notice %></p>

<p>
  <strong>ジャンル名：</strong>
  <%= @genre.color_g %>
</p>


<p>
  <strong>カラー：</strong>
  <%= image_tag show_image_genre_path(@genre), :width => 50 %>
</p>

<p>
  <strong>グッズ</strong><br>
  <% @genre.syojis.each do |syoji| %>
    ・<%= syoji.title_syo %><br>
  <% end %>
</p>
<br>

<%= link_to '一覧へ', genres_path , target:"_self" %>|
<%= link_to '編集', edit_genre_path(@genre) , target:"_self" %> 
