<h2>検索結果</h2>

<p><b>スケジュール</b></p>
<table>
<tbody>
<% if @sche.present? %>
  <% @sche.each do |sche| %>
  <tr>
    <td>・<% if sche.syujitsu == true %>
      <%= sche.schedule_at.strftime('20%y/%m/%d') %>
      ・終日
    <% else %>
      <%= sche.schedule_at.strftime('20%y/%m/%d %H:%M') %>
    <% end %></td>
    <td><%= sche.name_sche %></td>
    <td><%= link_to '詳細', sche %></td>
  <% end %>
  </tr>
<% else %>
  <tr>検索項目が見つかりませんでした。</tr>
<% end %>
</tbody>
</table>
<br>

<p><b>グッズ</b></p>
<table>
<tbody>
<% if @syoji.present? %>
  <% @syoji.each do |syoji| %>
  <tr>
    <td>・<%= syoji.title_syo %></td>
    <td><% if syoji.artist.present? %>
      ／<%= syoji.artist %>
    <% end %></td>
    <td><%= link_to '詳細', syoji %></td>
  <% end %>
  </tr>
<% else %>
  <tr>検索項目が見つかりませんでした。</tr>
<% end %>
</tbody>
</table>
  <br><br>
<%= link_to '検索ページへ', serach_index_path , target:"_self" %>
