<h2>検索結果</h2>

<p><b>スケジュール</b></p>
<% if @sche.present? %>
  <% @sche.each do |sche| %>
    <%= sche.schedule_at.strftime('20%y/%m/%d %H:%M') %>
    <%= sche.name_sche %><br>
  <% end %>
<% else %>
    検索項目が見つかりませんでした。<br>
<% end %>
<br>
<p><b>グッズ</b></p>
<% if @syoji.present? %>
  <% @syoji.each do |syoji| %>
    <%= syoji.title_syo %>／
    <%= syoji.artist %><br>
  <% end %>
<% else %>
  検索項目が見つかりませんでした。<br>
<% end %>
  <br><br>
<%= link_to '検索ページへ', serach_index_path %>
