<p id="notice"><%= notice %></p>
<div class="box14">
<h2>発売日</h2></div>
<% kensu = 0 %>
<% @syoji.each do |syoji| %>
  <% if syoji.release.present? %>
    <% if syoji.release >= Date.today and syoji.release <= Date.today + 5
       kensu += 1
    end %>
  <% end %>
<% end %>
<br>
<div class="box17">
<p><strong>５日以内に発売するものが <%= kensu %> 件あります</strong></p></div>

<table>
  <thead>
    <tr>
    <br>
    <div class="box22"><p>発売日</p></div>
    <div class="box22"><p>タイトル</p></div>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @syoji.each do |syoji| %>
      <% if syoji.notification_syo == true %>
      <% if syoji.release.present? %>
        <% if syoji.notification_time <= DateTime.now %>
          <% if syoji.release < Date.today
               namecolor = "red"
             end %>
        <tr>
        <br>
          <div class="box1"><p style = "color : <%= namecolor %>"><%= syoji.release.strftime('20%y/%m/%d') %></p></div>
          <div class="box1"><p><%= syoji_t.title_syo %></p></div>
          <div class="box1"><p><%= link_to '詳細', syoji %></div>
          <div class="box1"><p><%= link_to '編集', edit_syoji_path(syoji) %></div>
          <div class="box1"><p><%= link_to '削除', syoji, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </tr>
        <% end %>
      <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>



<div class="box14"><h2>スケジュール</h2></div>
<% kensu = 0 %>
<% @sche.each do |sche| %>
  <% if sche.schedule_at >= Date.today and sche.schedule_at <= Date.today + 5
  kensu += 1
   end %>
<% end %>
<br>
<div class="box17"><p><strong>５日以内に期限がくるものが <%= kensu %> 件あります</strong></p></div>

<table>
  <thead>
    <tr>
    <br>
    <div class="box22"><p>日時</p></div>
    <div class="box22"><p>予定名</p></div>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sche.each do |sche| %>
      <% if sche.notification_sche == true %>
        <% if sche.notification_time <= DateTime.now and sche.schedule_at >= Date.today - 7 %>
          <% if sche.schedule_at < Date.today
               namecolor = "red"
             end
          %>
        <tr>
        <br>
        <div class="box1"><p style = "color : <%= namecolor %>"><%= sche.schedule_at.strftime('20%y/%m/%d %H:%M') %></p></div>
        <div class="box1"><p><%= sche.name_sche %></div>
        <div class="box1"><p><%= link_to '詳細', sche %></div>
        <div class="box1"><p><%= link_to '編集', edit_sch_path(sche) %></div>
        <div class="box1"><p><%= link_to '削除', sche, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to '前のページへ', :back %>