<p id="notice"><%= notice %></p>

<h2>発売日</h2>
<% kensu = 0 %>
<% @syoji.each do |syoji| %>
  <% if syoji.release.present? %>
    <% if syoji.release >= Date.today and syoji.release <= Date.today + 5
       kensu += 1
    end %>
  <% end %>
<% end %>
<p><strong>５日以内に発売するものが <%= kensu %> 件あります</strong></p>

<table>
  <thead>
    <tr>
      <th>発売日</th>
      <th>タイトル</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @syoji.each do |syoji| %>
      <% if syoji.notification_syo == true %>
      <% if syoji.release.present? %>
        <% if syoji.notification_time <= DateTime.now %>
          <% if syoji.release < Date.today
               namecolor = "red"
             end
          %>
        <tr>
          <td style = "color : <%= namecolor %>"><%= syoji.release.strftime('20%y/%m/%d') %></td>
          <td><%= syoji.title_syo %></td>
          <td><%= link_to '詳細', syoji %></td>
          <td><%= link_to '編集', edit_syoji_path(syoji) %></td>
          <td><%= link_to '削除', syoji, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>



<h2>スケジュール</h2>
<% kensu = 0 %>
<% @sche.each do |sche| %>
  <% if sche.schedule_at >= Date.today and sche.schedule_at <= Date.today + 5
  kensu += 1
   end %>
<% end %>
<p><strong>５日以内に期限がくるものが <%= kensu %> 件あります</strong></p>

<table>
  <thead>
    <tr>
      <th>日時</th>
      <th>予定名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sche.each do |sche| %>
      <% if sche.notification_sche == true %>
        <% if sche.notification_time <= DateTime.now and sche.schedule_at >= Date.today - 7 %>
          <% if sche.schedule_at < Date.today
               namecolor = "red"
             end
          %>
        <tr>
          <td style = "color : <%= namecolor %>">
          <% if sche.syujitsu == true %>
            <%= sche.schedule_at.strftime('20%y/%m/%d') %>
            終日
          <% else %>
            <%= sche.schedule_at.strftime('20%y/%m/%d %H:%M') %>
          <% end %></td>
          <td><%= sche.name_sche %></td>
          <td><%= link_to '詳細', sche %></td>
          <td><%= link_to '編集', edit_sch_path(sche) %></td>
          <td><%= link_to '削除', sche_t, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>  
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to '前のページへ', :back %>