<p id="notice"><%= notice %></p>

<h2>発売日</h2>
<% kensu = 0 %>
<% @syoji_ts.each do |syoji_t| %>
  <% if syoji_t.release.present? %>
    <% if syoji_t.release >= Date.today and syoji_t.release <= Date.today + 5
       kensu += 1
    end %>
  <% end %>
<% end %>
<p><strong>５日以内に発売するものが <%= kensu %> 件あります</strong></p>

<table>
  <thead>
    <tr>
      <th>発売日</th>
      <th>タイトル</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @syoji_ts.each do |syoji_t| %>
      <% if syoji_t.notification_syo == true %>
      <% if syoji_t.release.present? %>
        <% if syoji_t.notification_time <= DateTime.now %>
          <% if syoji_t.release < Date.today
               namecolor = "red"
             end
          %>
        <tr>
          <td style = "color : <%= namecolor %>"><%= syoji_t.release.strftime('20%y/%m/%d') %></td>
          <td><%= syoji_t.title_syo %></td>
          <td><%= link_to '詳細', syoji_t %></td>
          <td><%= link_to '編集', edit_syoji_path(syoji_t) %></td>
          <td><%= link_to '削除', syoji_t, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>



<h2>スケジュール</h2>
<% kensu = 0 %>
<% @sche_ts.each do |sche_t| %>
  <% if sche_t.schedule_at >= Date.today and sche_t.schedule_at <= Date.today + 5
  kensu += 1
   end %>
<% end %>
<p><strong>５日以内に期限がくるものが <%= kensu %> 件あります</strong></p>

<table>
  <thead>
    <tr>
      <th>日時</th>
      <th>予定名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sche_ts.each do |sche_t| %>
      <% if sche_t.notification_sche == true %>
        <% if sche_t.notification_time <= DateTime.now %>
          <% if sche_t.schedule_at < Date.today
               namecolor = "red"
             end
          %>
        <tr>
          <td style = "color : <%= namecolor %>"><%= sche_t.schedule_at.strftime('20%y/%m/%d %H:%M') %></td>
          <td><%= sche_t.name_sche %></td>
          <td><%= link_to '詳細', sche_t %></td>
          <td><%= link_to '編集', edit_sch_path(sche_t) %></td>
          <td><%= link_to '削除', sche_t, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to '前のページへ', :back %>