<p style="color: red;"><%= @error %></p>

<%= form_tag action: :auth do %>
  
    <div class="field">
      <%= label_tag :mail_user,'アカウント' %>
      <%= text_field_tag :mail_user,'' %>
    </div>
  
    <div class="field">
    <%= label_tag :pass_user,'パスワード' %>
    <%= password_field_tag :pass_user,'' %>
  </div>
  
    <%= hidden_field_tag :referer,flash[:referer] %>
    <div class="actions">
      <%= submit_tag 'ログイン' %>
    </div>
  <% end %>

  <a href="http://localhost:3000/users/new">アカウント作成</a>

