<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @login.account %>
</p>

<p>
  <strong>Password:</strong>
  <%= @login.password %>
</p>

<%= link_to 'Edit', edit_login_path(@login) , target:"_self" %> |
<%= link_to 'Back', logins_path , target:"_self" %>
