<p id="notice"><%= notice %></p>

<h1>所持品通知</h1>

<table>
  <thead>
    <tr>
      <th>発売日</th>
      <th>タイトル</th>
      <th>アーティスト名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @syoji_ts.each do |syoji| %>
      <tr>
        <td><%= syoji.release.strftime('20%y/%m/%d') %></td>
        <td><%= syoji.title_syo %></td>
        <td><%= syoji.artist %></td>
        <td><%= link_to '詳細', syoji %></td>
        <td><%= link_to '編集', edit_syoji_path(syoji) %></td>
        <td><%= link_to '削除', syoji, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>