<p id="notice"><%= notice %></p>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="box14"><h1>発売日通知</h1></div>

<% kensu = 0 %>
<% @syoji_ts.each do |syoji_t| %>
  <% if syoji_t.release.present? %>
    <% if syoji_t.release >= Date.today and syoji_t.release <= Date.today + 5
       kensu += 1
    end %>
  <% end %>
<% end %>
<p><div class="box2"><strong>５日以内に発売するものが <%= kensu %> 件あります</strong></div></p>

<table>
  <thead>
    <tr>
      <div class="box14"><p>発売日</p></div>
      <th>タイトル</th>
      <th>アーティスト名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @syoji_ts.each do |syoji_t| %>
      <% if syoji_t.notification_syo == true %>
      <% if syoji_t.release.present? %>
        <% if syoji_t.notification_time <= DateTime.now %>
          <% if syoji_t.release < Date.today
               namecolor = "red"
             end
          %>
        <tr>
          <td style = "color : <%= namecolor %>"><%= syoji_t.release.strftime('20%y/%m/%d') %></td>
          <td><%= syoji_t.title_syo %></td>
          <td><%= syoji_t.artist %></td>
          <td><%= link_to '詳細', syoji_t %></td>
          <td><%= link_to '編集', edit_syoji_path(syoji_t) %></td>
          <td><%= link_to '削除', syoji_t, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>