<%= form_with(model: syoji, local: true) do |form| %>
  <% if syoji.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(syoji.errors.count, "error") %> prohibited this syoji from being saved:</h2>

      <ul>
      <% syoji.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title_syo %>
    <%= form.text_field :title_syo, id: :syoji_title_syo %>
  </div>

  <div class="field">
    <%= form.label :artist %>
    <%= form.text_field :artist, id: :syoji_artist %>
  </div>

  <div class="field">
    <%= form.label :color_j %>
    <%= form.number_field :color_j, id: :syoji_color_j %>
  </div>

  <div class="field">
    <%= form.label :title_j %>
    <%= form.text_field :title_j, id: :syoji_title_j %>
  </div>

  <div class="field">
    <%= form.label :release %>
    <%= form.datetime_select :release, id: :syoji_release %>
  </div>

  <div class="field">
    <%= form.label :snooze %>
    <%= form.check_box :snooze, id: :syoji_snooze %>
  </div>

  <div class="field">
    <%= form.label :image_syo %>
    <%= form.text_field :image_syo, id: :syoji_image_syo %>
  </div>

  <div class="field">
    <%= form.label :image_binary %>
    <%= form.text_field :image_binary, id: :syoji_image_binary %>
  </div>

  <div class="field">
    <%= form.label :image_type %>
    <%= form.text_field :image_type, id: :syoji_image_type %>
  </div>

  <div class="field">
    <%= form.label :memo_syo %>
    <%= form.text_area :memo_syo, id: :syoji_memo_syo %>
  </div>

  <div class="field">
    <%= form.label :url_syo %>
    <%= form.text_field :url_syo, id: :syoji_url_syo %>
  </div>

  <div class="field">
    <%= form.label :notification_syo %>
    <%= form.check_box :notification_syo, id: :syoji_notification_syo %>
  </div>

  <div class="field">
    <%= form.label :mail_syo %>
    <%= form.check_box :mail_syo, id: :syoji_mail_syo %>
  </div>

  <div class="field">
    <%= form.label :notification_time %>
    <%= form.datetime_select :notification_time, id: :syoji_notification_time %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.number_field :category, id: :syoji_category %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
