<p id="notice"><%= notice %></p>

<div class="box14"><h1>グッズ</h1></div>

<p><%= link_to '新規追加', new_syoji_path , target:"_self" %> </p>

<table>
  <thead>
  <br><div class="box17"><h2>持っている</h2></div>
    <tr>
    <br>
    <div class="box22"><th><%= sortable "title_syo", "タイトル" %></th></div>
    <div class="box22"><th><%= sortable "artist", "アーティスト名" %></th></div>
    <div class="box22"><th>ジャケット</th></div>
    <th></th>
    <th></th>
    <th></th>    
    </tr>
  </thead>
  <tbody>
    <% @syojis1.each do |syoji| %>
      <tr>
      <br>
      <td><%= syoji.title_syo %>
      <td><%= syoji.artist %>
      <td><% if syoji.image_syo.present? %>
          <%= image_tag show_image_syoji_path(syoji), :height =>60 %>
        <% else %>
        <% end %>
        <td><%= link_to '詳細', syoji, target:"_self" %>
        <td><%= link_to '編集', edit_syoji_path(syoji), target:"_self" %>
        <td><%= link_to '削除', syoji, method: :delete, data: { confirm: '削除しますか？' } %>
      </tr>
    <% end %>
  </tbody>
</table>


<table>
<thead>
<br><div class="box17"><h2>欲しい（発売済み）</h2></div>
  <tr>
  <br>
  <div class="box22"><th><%= sortable "title_syo", "タイトル" %></th></div>
  <div class="box22"><th><%= sortable "artist", "アーティスト名" %></th></div>
  <div class="box22"><th>ジャケット</th></div>
  <th></th>
  <th></th>
  <th></th>  
  </tr>
</thead>
<tbody>
  <% @syojis2.each do |syoji| %>
    <tr>
    <br>
    <td><%= syoji.title_syo %>
    <td><%= syoji.artist %>
    <td><% if syoji.image_syo.present? %>
        <%= image_tag show_image_syoji_path(syoji), :height =>60 %>
      <% else %>
      <% end %>
          <td><%= link_to '詳細', syoji, target:"_self" %>
          <td><%= link_to '編集', edit_syoji_path(syoji), target:"_self" %>
          <td><%= link_to '削除', syoji, method: :delete, data: { confirm: '削除しますか？' } %>
    </tr>
  <% end %>
</tbody>
</table>


<table>
<thead>
<br><div class="box17"><h2>欲しい（未発売）</h2></div>
  <tr>
  <br>
  <div class="box22"><th><%= sortable "title_syo", "タイトル" %></th></div>
  <div class="box22"><th><%= sortable "artist", "アーティスト名" %></th></div>
  <div class="box22"><th>ジャケット</th></div>
  <div class="box22"><th><%= sortable "release", "発売日"%></th></div>
  <th></th> 
  <th></th> 
  <th></th> 
  </tr>
</thead>
<tbody>
  <% @syojis3.each do |syoji| %>
    <tr>
    <br>
    <td><%= syoji.title_syo %></td>
    <td><%= syoji.artist %></td>
    <td><% if syoji.image_syo.present? %>
        <%= image_tag show_image_syoji_path(syoji), :height =>60 %>
      <% else %>
      <% end %>
     <td><% if syoji.release.present? %>
            <%= syoji.release.strftime('20%y/%m/%d') %>
     <% end %>
          <td><%= link_to '詳細', syoji, target:"_self" %>
          <td><%= link_to '編集', edit_syoji_path(syoji), target:"_self" %>
          <td><%= link_to '削除', syoji, method: :delete, data: { confirm: '削除しますか？' } %>
    </tr>
  <% end %>
</tbody>
</table>

<br>

<%= link_to '新規追加', new_syoji_path , target:"_self" %> 
