<p id="notice"><%= notice %></p>

<h1>所持品</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>アーティスト名</th>
      <th>ジャンルカラー</th>
      <th>ジャンルタイトル</th>
      <th>ジャケット</th>
      <th>メモ</th>
      <th>リンク</th>
      <th>発売日</th>
      <th>カテゴリー</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @syojis.each do |syoji| %>
      <tr>
        <td><%= syoji.title_syo %></td>
        <td><%= syoji.artist %></td>
        <td><%= syoji.color_j %></td>
        <td><%= syoji.title_j %></td>
        <td><%= image_tag show_image_syoji_path(syoji), :width =>60 %></td>
        <td><%= syoji.memo_syo %></td>
        <td><% if syoji.url_syo.present? %>
              <%= link_to 'HPへ', syoji.url_syo %>
            <% end %></td>
        <td><%= syoji.release.strftime('20%y/%m/%d') %></td>
        <td><% if syoji.category_id.present? %>
                <%= syoji.category.category %>
            <% end %></td>
        <td><%= link_to '詳細', syoji %></td>
        <td><%= link_to '編集', edit_syoji_path(syoji) %></td>
        <td><%= link_to '削除', syoji, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_syoji_path %>
