<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @syoji.title_syo %>
</p>

<p>
<% if @syoji.have != 1 %>
<strong>巻数：</strong>
  <%= @syoji.volume %>
  <% if @syoji.volume.present? %>
     巻
  <% end %>
<% end %>
</p>

<p>
  <strong>アーティスト名：</strong>
  <%= @syoji.artist %>
</p>

<p>
  <strong>ジャンルカラー：</strong>
  <%= @syoji.color_id %>
</p>

<p>
  <strong>ジャンルタイトル：</strong>
  <%= @syoji.title_j %>
</p>

<p>
  <strong>ジャケット画像：</strong>
  <%= @syoji.image_syo %>
</p>

<p>
  <strong>メモ：</strong>
  <%= @syoji.memo_syo %>
</p>

<p>
  <strong>リンク：</strong>
  <%= link_to @syoji.url_syo, @syoji.url_syo %>
</p>

<p>
<strong>所持状態：</strong>
  <% case @syoji.have %>
    <% when 1 %>
      持っている
    <% when 2 %>
      欲しい（発売済み）
    <% when 3 %>
      欲しい（未発売）
  <% end %>
</p>

<p>
<strong>所持巻数：</strong>
  <%= @syoji.volume_have %>
  <% if @syoji.volume_have.present? %>
     巻
  <% end %>
</p>

<p>
<strong>発売日：</strong>
<%= @syoji.release %>
</p>

<p>
  <strong>アプリ内通知：</strong>
  <%= @syoji.notification_syo %>
</p>

<p>
  <strong>メール通知：</strong>
  <%= @syoji.mail_syo %>
</p>

<p>
  <strong>通知時間：</strong>
  <%= @syoji.notification_time %>
</p>

<p>
<strong>スヌーズ：</strong>
<%= @syoji.snooze %>
</p>

<p>
  <strong>カテゴリー：</strong>
  <%= @syoji.category.category %>
</p>

<%= link_to '戻る', syojis_path %>|
<%= link_to '編集', edit_syoji_path(@syoji) %> 
