<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @syoji.title_syo %>
</p>

<p>
<% if @syoji.have != 1 %>
<strong>巻数：</strong>
  <%= @syoji.volume %>
  <% if @syoji.volume.present? %>
     巻
  <% end %>
<% end %>
</p>

<p>
  <strong>アーティスト名：</strong>
  <%= @syoji.artist %>
</p>

<p>
  <strong>ジャンルカラー：</strong>
  <% if @syoji.color_id.present? %>
    <%= image_tag show_image_genre_path(@syoji.genre), :width => 50 %>
  <% end %>
</p>

<p>
  <strong>カテゴリー：</strong>
  <%= @syoji.category.category %>
</p>

<p>
  <strong>ジャンルタイトル：</strong>
  <%= @syoji.title_j %>
</p>

<p>
  <strong>ジャケット画像：</strong>
  <% if @syoji.image_syo.present? %>
    <%= image_tag show_image_syoji_path(@syoji), :height =>60 %>
  <% end %>
</p>

<p>
  <strong>メモ：</strong>
  <%= @syoji.memo_syo %>
</p>

<p>
  <strong>リンク：</strong>
  <%= link_to @syoji.url_syo, @syoji.url_syo %>
</p>

<p>
<strong>所持状態：</strong>
  <% case @syoji.have %>
    <% when 1 %>
      持っている
    <% when 2 %>
      欲しい（発売済み）
    <% when 3 %>
      欲しい（未発売）
  <% end %>
</p>

<p>
<strong>所持巻数：</strong>
  <%= @syoji.volume_have %>
  <% if @syoji.volume_have.present? %>
     巻
  <% end %>
</p>

<p>
<strong>欲しい巻数：</strong>
<% if @syoji.have == 2 or @syoji.have == 3 %>
  <%= @syoji.volume %>
  <% if @syoji.volume.present? %>
    巻
  <% end %>
<% end %>
</p>

<p>
<strong>発売日：</strong>
<%= @syoji.release %>
</p>

<p>
  <strong>アプリ内通知：</strong>
  <% if @syoji.notification_syo == true %>
    オン
  <% else %>
    オフ
  <% end %>
</p>

<!--
<p>
  <strong>メール通知：</strong>
  <% if @syoji.mail_syo == true %>
  オン
<% else %>
  オフ
<% end %>
</p>
-->

<p>
  <strong>通知時間：</strong>
  <% if @syoji.notification_syo == true %>
    <%= @syoji.notification_time.strftime('20%y/%m/%d %H:%M') %>
  <% end %>
</p>

<p>
<strong>スヌーズ：</strong>
<% if @syoji.notification_syo == true %>
  <% if @syoji.snooze == true %>
    オン
  <% else %>
    オフ
  <% end %>
<% end %>
</p>

<%= link_to '一覧へ', syojis_path %>|
<%= link_to '編集', edit_syoji_path(@syoji) %> |
<%= link_to '通知画面へ', tuti_index_path %> 
