<p id="notice"><%= notice %></p>

<p>
  <strong>Title syo:</strong>
  <%= @syoji.title_syo %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @syoji.artist %>
</p>

<p>
  <strong>Color j:</strong>
  <%= @syoji.color_j %>
</p>

<p>
  <strong>Title j:</strong>
  <%= @syoji.title_j %>
</p>

<p>
  <strong>Release:</strong>
  <%= @syoji.release %>
</p>

<p>
  <strong>Snooze:</strong>
  <%= @syoji.snooze %>
</p>

<p>
  <strong>Image syo:</strong>
  <%= @syoji.image_syo %>
</p>

<p>
  <strong>Image binary:</strong>
  <%= @syoji.image_binary %>
</p>

<p>
  <strong>Image type:</strong>
  <%= @syoji.image_type %>
</p>

<p>
  <strong>Memo syo:</strong>
  <%= @syoji.memo_syo %>
</p>

<p>
  <strong>Url syo:</strong>
  <%= @syoji.url_syo %>
</p>

<p>
  <strong>Notification syo:</strong>
  <%= @syoji.notification_syo %>
</p>

<p>
  <strong>Mail syo:</strong>
  <%= @syoji.mail_syo %>
</p>

<p>
  <strong>Notification time:</strong>
  <%= @syoji.notification_time %>
</p>

<p>
  <strong>Category:</strong>
  <%= @syoji.category %>
</p>

<%= link_to 'Edit', edit_syoji_path(@syoji) %> |
<%= link_to 'Back', syojis_path %>
