<%= form_with(model: sch, local: true) do |form| %>
  <% if sch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sch.errors.count, "error") %> prohibited this sch from being saved:</h2>

      <ul>
      <% sch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :schedule_at %>
    <%= form.datetime_select :schedule_at, id: :sch_schedule_at %>
  </div>

  <div class="field">
    <%= form.label :name_sche %>
    <%= form.text_field :name_sche, id: :sch_name_sche %>
  </div>

  <div class="field">
    <%= form.label :icon_id %>
    <%= form.number_field :icon_id, id: :sch_icon_id %>
  </div>

  <div class="field">
    <%= form.label :notification_time %>
    <%= form.text_field :notification_time, id: :sch_notification_time %>
  </div>

  <div class="field">
    <%= form.label :snooze %>
    <%= form.check_box :snooze, id: :sch_snooze %>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place, id: :sch_place %>
  </div>

  <div class="field">
    <%= form.label :memo_sche %>
    <%= form.text_area :memo_sche, id: :sch_memo_sche %>
  </div>

  <div class="field">
    <%= form.label :mail_sche %>
    <%= form.check_box :mail_sche, id: :sch_mail_sche %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
