<%= form_with(model: sch, local: true) do |form| %>
  <% if sch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sch.errors.count, "error") %> prohibited this sch from being saved:</h2>

      <ul>
      <% sch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :日時＊ %>
    <%= form.datetime_select :schedule_at %>
  </div>

  <div class="field">
    <%= form.label :予定名＊ %>
    <%= form.text_field :name_sche %>
  </div>


  <div class="field">
  <%= form.label :アイコン %>
  <% Icon.all.map {|i| %>
   <span><%= form.radio_button :icon_id, i.id %><%= image_tag  i.image_icon  ,:width => 37  %></span>
  <% } %>
</div>

  <div class="field">
    <%= form.label :アイコン %>
    <%= form.select :icon_id, Icon.all.map { |i|[i.name_icon, i.id] } %>
  </div>

  <div class="field">
    <%= form.label :場所 %>
    <%= form.text_field :place %>
  </div>

  <div class="field">
    <%= form.label :メモ %>
    <%= form.text_area :memo_sche %>
  </div>

  <div class="field">
    <%= form.label :アプリ内通知 %>
    <%= form.check_box :notification_sche %>
  </div>

  <div class="field">
    <%= form.label :メール通知 %>
    <%= form.check_box :mail_sche %>
  </div>

  <div class="field">
    <%= form.label :通知時間 %>    
    <%= form.datetime_select :notification_time %>
  </div>

  <div class="field">
    <%= form.label :スヌーズ %>
    <%= form.check_box :snooze %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
