<p id="notice"><%= notice %></p>

<h1>スケジュール</h1>

<table>
  <thead>
    <tr>
      <th>日時</th>
      <th>予定名</th>
      <th>アイコン</th>
      <th>スヌーズ</th>
      <th>場所</th>
      <th>メモ</th>
      <th>アプリ内通知</th>
      <th>メール通知</th>
      <th>通知時間</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sches.each do |sche| %>
      <tr>
        <td><%= sche.schedule_at %></td>
        <td><%= sche.name_sche %></td>
        <td><%= sche.icon_id %></td>
        <td><%= sche.snooze %></td>
        <td><%= sche.place %></td>
        <td><%= sche.memo_sche %></td>
        <td><%= sche.notification_sche %></td>
        <td><%= sche.mail_sche %></td>
        <td><%= sche.notification_time %></td>
        <td><%= link_to '詳細', sche %></td>
        <td><%= link_to '編集', edit_sch_path(sche) %></td>
        <td><%= link_to '削除', sche, method: :delete, data: { confirm: '削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規スケジュール', new_sch_path %>
