<p id="notice"><%= notice %></p>

<h1>スケジュール</h1>

<% today = Date.today %>
<% now = Date.current %>
<table border="1">
  <caption><%= now.strftime('%Y年%m月') %></caption>
  <tr height="30px">
    <th width="60px" style="background: red;"><spen style="color: white;">日</spen></th>
    <th width="60px" style="background: blue;"><spen style="color: white;">月</spen></th>
    <th width="60px" style="background: blue;"><spen style="color: white;">火</spen></th>
    <th width="60px" style="background: blue;"><spen style="color: white;">水</spen></th>
    <th width="60px" style="background: blue;"><spen style="color: white;">木</spen></th>
    <th width="60px" style="background: blue;"><spen style="color: white;">金</spen></th>
    <th width="60px" style="background: blue;"><spen style="color: white;">土</spen></th>
  </tr>
  <tr>
<% month = now.strftime('%m') %>
<% d = now.at_beginning_of_month.at_beginning_of_week(:sunday) %>
<% 1.upto(6).each do |i| %>
  <tr height="70px">
<% (d..d.end_of_week(:sunday)).each do |c| %>
  <td align="left" valign="top" style="background: <%= (c == today) ? "gray" : "white" %>;">
    <%= (c.strftime('%m') == month) ? c.strftime('%d') : " " %><br>
    <% @sches.each do |sche| %>
      <% if c.strftime('%y-%m-%d') == sche.schedule_at.strftime('%y-%m-%d') %>
       <%= sche.icon_id %>
      <% end %>
    <% end %>
  </td>
<% end %>
  </tr>
<% d = d + 1.week %>
<% end %>
</table>

<table>
  <thead>
    <tr>
      <th><%= sortable "schedule_at", "日時" %></th>
      <th>予定名</th>
      <th><%= sortable "icon_id", "アイコン" %></th>
      <th>場所</th>
      <th>メモ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sches.each do |sche| %>
      <% if sche.schedule_at < Date.today
           namecolor = "red"
        else
          if sche.schedule_at >= Date.today and sche.schedule_at <= Date.today + 5
            namecolor = "blue"
          else
            namecolor = "black"
          end
        end
       %>
      <% if sche.schedule_at >= Date.today - 7 and sche.schedule_at <= Date.today + 7 %> 
      <tr>
        <td style = "color : <%= namecolor %>"><%= sche.schedule_at.strftime('20%y/%m/%d %H:%M') %></td>
        <td><%= sche.name_sche %></td>
        <td><%= sche.icon_id %></td>
        <td><%= sche.place %></td>
        <td><%= sche.memo_sche %></td>
        <td><%= link_to '詳細', sche %></td>
        <td><%= link_to '編集', edit_sch_path(sche) %></td>
        <td><%= link_to '削除', sche, method: :delete, data: { confirm: '削除しますか？' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'スケジュールの追加', new_sch_path %>
