<p id="notice"><%= notice %></p>

<p>
  <strong>日時:</strong>
  <%= @sch.schedule_at %>
</p>

<p>
  <strong>予定名:</strong>
  <%= @sch.name_sche %>
</p>

<p>
  <strong>アイコン:</strong>
  <%= @sch.icon_id %>
</p>

<p>
  <strong>スヌーズ:</strong>
  <%= @sch.snooze %>
</p>

<p>
  <strong>場所:</strong>
  <%= @sch.place %>
</p>

<p>
  <strong>メモ:</strong>
  <%= @sch.memo_sche %>
</p>

<p>
<strong>アプリ内通知:</strong>
<%= @sch.notification_sche %>
</p>

<p>
  <strong>メール通知:</strong>
  <%= @sch.mail_sche %>
</p>

<p>
<strong>通知時間:</strong>
<%= @sch.notification_time %>
</p>

<%= link_to '編集', edit_sch_path(@sch) %> |
<%= link_to 'スケジュールTOP', sches_path %>
