<p id="notice"><%= notice %></p>

<div class="box14"><h2>カテゴリー</h2></div>

<table>
  <thead>
    <tr>
      <th>カテゴリー名</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.category %></td>
        <td><%= link_to '詳細', category , target:"_self" %></td>
        <td><%= link_to '編集', edit_category_path(category) , target:"_self" %></td>
        <td><%= link_to '削除', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'カテゴリーを追加', new_category_path , target:"_self" %>
