<p id="notice"><%= notice %></p>

<p>
  <strong>カテゴリー名:</strong>
  <%= @category.category %>
</p>

<p>
  <strong>グッズ</strong><br>
  <% @category.syojis.each do |syoji| %>
    ・<%= syoji.title_syo %><br>
  <% end %>
</p>
<br>

<%= link_to '戻る', :back , target:"_self" %> |
<%= link_to '編集', edit_category_path(@category) , target:"_self" %>
