<p id="notice"><%= notice %></p>

<h1>アイコン</h1>

<table>
  <thead>
    <tr>
      <th>アイコン名</th>
      <th>アイコン画像</th>
      <th>Image binary</th>
      <th>Image type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @icons.each do |icon| %>
      <tr>
        <td><%= icon.アイコン名 %></td>
        <td><%= icon.アイコン画像 %></td>
        <td><%= icon.image_binary %></td>
        <td><%= icon.image_type %></td>
        <td><%= link_to '詳細', icon %></td>
        <td><%= link_to '編集', edit_icon_path(icon) %></td>
        <td><%= link_to '削除', icon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規アイコン作成', new_icon_path %>
