<p id="notice"><%= notice %></p>

<h1>アイコン</h1>

<table>
  <thead>
    <tr>
      <th>アイコン名</th>
      <th>アイコン画像</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @icons.each do |icon| %>
      <tr>
        <td><%= icon.name_icon %></td>
        <td><%= image_tag show_image_icon_path(icon), :width => 100 %></td>
      
        <td><%= link_to '詳細', icon %></td>
        <td><%= link_to '編集', edit_icon_path(icon) %></td>
        <td><%= link_to '削除', icon, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規アイコン作成', new_icon_path %>
