<p id="notice"><%= notice %></p>

<p>
  <strong>アイコン名:</strong>
  <%= @icon.name_icon %>
</p>

<p>
  <strong>アイコン画像:</strong>
  <%= @icon.image_icon %>
</p>

<%= link_to '編集', edit_icon_path(@icon) , target:"_self" %> |
<%= link_to '戻る', icons_path , target:"_self" %>
