<p id="notice"><%= notice %></p>

<div class="box14"><h1>リンク一覧</h1></div>

<h4>グッズ</h4>
<table>
<thead>
  <tr>
  <div class="box22"><th>関連タイトル</th></div>
  <div class="box22"><th>リンク先</th></div>
  </tr>
</thead>

<tbody>
  <% @links1.each do |link| %>
    <% if link.url_syo.present? %>
      <tr>
        <td><%= link.title_syo %></td>
        <td><%= link_to link.url_syo, link.url_syo , target:"_blank" %></td>
      </tr>
    <% end %>
  <% end %>
</tbody>
</table>

<br>

<h4>スケジュール</h4>
<table>
<thead>
  <tr>
  <div class="box22"><th>関連タイトル</th></div>
  <div class="box22"><th>リンク先</th>
  </tr>
</thead>

<tbody>
  <% @links2.each do |link| %>
    <% if link.url_sche.present? %>
      <tr>
        <td><%= link.name_sche %></td>
        <td><%= link_to link.url_sche, link.url_sche , target:"_blank"  %></td>
      </tr>
    <% end %>
  <% end %>
</tbody>
</table>

