<!DOCTYPE html>
<html>
  <head>
    <title>Gestion</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% if session[:usr].present? %>
    <%= session[:usr_name] %>
    <%= link_to "ログオフ",logins_logoff_path %>
    <% end %>
  </body>
</html>
