<!DOCTYPE html>
<html>
  <head>
    <title>Gestion</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= link_to 'スケジュール', sches_path %>
    <%= link_to '通知', sche_ts_path %>
    <%= link_to '所持品',syojis_path %>
    <% if session[:usr].present? %>
    <%= image_tag show_image_user_path(session[:usr]),:width => 37 %>
    <%= link_to "ログオフ",logins_logoff_path %>
    <% end %>
  </body>
</html>
